
<div class="container">
    <section class="fund-section">
      <h2>Arbitrary Fund 1</h2>
      <div class="card">
        <div class="info">
          <div class="item">
            <h3>Investment</h3>
            <p>$10,000</p>
          </div>
          <div class="item">
            <h3>Market Value</h3>
            <p>$12,000</p>
          </div>
        </div>
      </div>
    </section>
    <section class="fund-section">
      <h2>Arbitrary Fund 2</h2>
      <div class="card">
        <div class="info">
          <div class="item">
            <h3>Investment</h3>
            <p>$15,000</p>
          </div>
          <div class="item">
            <h3>Market Value</h3>
            <p>$17,500</p>
          </div>
        </div>
      </div>
    </section>
    <section class="fund-section">
        <h2>Arbitrary Fund 3</h2>
        <div class="card">
          <div class="info">
            <div class="item">
              <h3>Investment</h3>
              <p>$15,000</p>
            </div>
            <div class="item">
              <h3>Market Value</h3>
              <p>$17,500</p>
            </div>
          </div>
        </div>
      </section>
  </div>
