<div (click)="backToHome()">Back</div>
<div class="container"  *ngFor="let fund of userHolding.holdingDetails">
    <section class="fund-section">
      <h2>{{fund.fundName}}</h2>
      <div class="card">
        <div class="info">
          <div class="item">
            <h3>Invested Amount</h3>
            <p>${{fund.investmentAmount}}</p>
          </div>
          <div class="item">
            <h3>Market Value</h3>
            <p>${{fund.marketValue}}</p>
          </div>
        </div>
      </div>
    </section>
</div>
