.successfull{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    border-radius: 5%;
    margin-top: 0%;
    padding: 15px 20px;
    font-size: 16px;
    margin-bottom: 20px;
    background-color:  #31b84587;
    border: none;
    width: fit-content;
    border-radius: 5px;
    font-weight: bold;
  }

  .container {
    max-width: 800px;
    margin: 3% auto;
    font-family: sans-serif;
    background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .failed{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    border-radius: 5%;
    margin-top: 0%;
    padding: 15px 20px;
    font-size: 16px;
    margin-bottom: 20px;
    background-color:  #de0f0487;
    border: none;
    width: fit-content;
    border-radius: 5px;
    font-weight: bold;
  }


  .home{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    border-radius: 5%;
    margin-top: 0%;
    padding: 15px 20px;
    font-size: 16px;
    margin-bottom: 20px;
    background-color:  #de0f0487;
    border: none;
    width: fit-content;
    border-radius: 5px;
    font-weight: bold;
  }