<p>transact works!</p>
<div>
    <div class="form-group">
        <input type="number" class="form-control" placeholder=" Enter amount"
        [(ngModel)] = "strategyInvestment.amount"/>
    </div>

    <div>Arbitary Strategy</div>
    <div>
        <table>
            <tbody>
                <tr *ngFor="let fund of strategyInvestment.funds">
                    <td><span>{{fund.fundName}}</span></td>
                    <td><span>{{fund.fundPercent*strategyInvestment.amount}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="button" class="c-green-button" (click)="invest()"> Invest</button>
</div>
