<div class="container" *ngIf="investmentStrategies != null && investmentStrategies.length>0 ">
    <!-- <p>{{stratagies.id}}</p> -->
    <div class="amount">
        <input type="number" class="form-control" placeholder=" Enter amount"
        [(ngModel)] = "strategyInvestment.amount"/>
    </div>
    <ng-select
    [items]="stratagies"
    bindLabel="value" 
    bindValue="id" 
    [(ngModel)]="selectedStrategyValue"
    (change)="changeStrategy($event)"

    >
    </ng-select>
    
    <div style="margin: 10px;">
        <table>
            <tbody >
                <tr class="row" *ngFor="let fund of strategyInvestment.funds">
                    <td height="40px"><span>{{fund.name}}</span></td>
                    <td height="40px"><span class="item">{{fund.percentage*strategyInvestment.amount}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <button type="button" class="c-green-button" (click)="invest()"> Invest</button>
</div>
