
  <div class="container">
    <section class="fund-section">
      <h2>Arbitrary Strategy</h2>
      <div class="card">
        <div class="info">
          <div class="item">
            <p>Investment</p>
            <span>$17,500</span>
          </div>
          <div class="item">
            <p>Market Value</p>
            <span>$17,500</span>
          </div>
          <div class="item holdings">
            <h3></h3>
            <span>See Holdings</span>
          </div>
        </div>
      </div>
    </section>
    <section class="fund-section">
        <h2>Balanced Strategy</h2>
        <div class="card">
          <div class="info">
            <div class="item">
              <p>Investment</p>
              <span>$17,500</span>
            </div>
            <div class="item">
              <p>Market Value</p>
              <span>$17,500</span>
            </div>
            <div class="item holdings">
                <h3></h3>
                <span>See Holdings</span>
              </div>
          </div>
        </div>
      </section>
  </div>
