
  <div class="container">
    <section class="fund-section">
      <table>
        <tbody>
          <tr *ngFor="let strategy of userHoldingsRequest.data">
            <h2>{{strategy.strategyName}}</h2>
            <div class="card">
              <div class="info">
                <div class="item">
                  <p>Investment</p>
                  <span>${{strategy.investmentAmount}}</span>
                </div>
                <div class="item">
                  <p>Market Value</p>
                  <span>${{strategy.investmentMarketValue}}</span>
                </div>
                <div class="item holdings">
                  <button class="seeHolding" (click)="seeholdings(phoneNumber,strategy.strategyName)">See Holdings</button>
                </div>
              </div>
            </div>

          </tr>
        </tbody>
      </table>
      
    </section>
    <button class="transact" (click)="openTransact()">Transact</button>
  </div>
